html {
  background-color: #82A37B;
}
.DashboardRows
{
  display:flex;
  gap: 5vw;
}
p, label
{
  font-size:x-large;
}
progress
{
  width:94%;
}
.dashboard-card
{
  background-color: #DDE1E6;
  width:20vw;
  height:40vh;
}
.top-half
{
  margin-left:1.5%;
  width: 97%;
  height:35%;
  background-color: #FFFFFF;
}
.editAndWater
{
  margin-left:3%;
}
#editingImage
{
  margin-left: 6%;
}
#wateringImage
{
  margin-left: 6%;
  margin-top:10%;
}
#plantName
{
  margin-left:6%;
  font-size:xx-large;
  font-weight:600;
  margin-bottom:0px;
}
#wateringFreq
{
  margin-left:6%;
  margin-top:1%;
  margin-bottom:3%;
  font-size:x-large;
}
#waterProgressText
{
  margin-top:0px;
  margin-left:3%;
}
#waterSoonText
{
  font-size: large;
  color:gray;
}
#plantImage
{
  width:98%;
  height:50%;
  margin-left:1%;
}